<!DOCTYPE html>
<html lang="en">
    <head>
        @Html.Partial("~/global-partials/_GoogleTag.cshtml")
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @{
            string title = @Document.ContainsKey(Keys.Title) ? $"Chocolatey Software Docs | {Document.GetString(Keys.Title)}" : "Chocolatey Software Docs";
            string description = @Document.ContainsKey(WebKeys.Description) ? @Document.GetString(WebKeys.Description) : "Chocolatey is software management automation for Windows that wraps installers, executables, zips, and scripts into compiled packages. Chocolatey integrates w/SCCM, Puppet, Chef, etc. Chocolatey is trusted by businesses to manage software deployments.";
            string ogImage = @Document.ContainsKey("OgImage") ? @Document.GetString("OgImage") : "https://docs.chocolatey.org/assets/images/global-shared/facebook-share.png";
        }
        <meta name="description" content="@description" />
        @* Twitter Card data *@
        <meta name="twitter:site" content="@@chocolateynuget">
        <meta name="twitter:title" content="@title">
        @if (Document.ContainsKey("TwitterImage"))
        {
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:image" content='@Document.GetString("TwitterImage")'>
        }
        else
        {
            <meta name="twitter:card" content="summary">
            <meta name="twitter:image" content="https://docs.chocolatey.org/assets/images/global-shared/twitter-share.png">
        }
        @* Open Graph data *@
        <meta property="og:title" content="@title" />
        <meta property="og:description" content="@description" />
        <meta property="og:site_name" content="Chocolatey Software" />
        <meta property="og:type" content="product" />
        <meta property="og:image" content="@ogImage" />
        <meta property="og:url" content="@Context.GetLink().TrimEnd('/')@Document.GetLink()" />
        @* Additional data *@
        <meta property="product:brand" content="Chocolatey Software" />
        <meta property="product:category" content="software" />
        <meta name="flattr:id" content="mqgjkp">
        <meta property="DC.title" content="@title" />
        <meta property="copyright" content="Chocolatey is Copyright 2020 - @DateTime.UtcNow.Year Chocolatey Software,Inc." />
        @* Apple Touch and Favicon *@
        <link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon" />
        <link rel="apple-touch-icon" href="@Context.GetLink("/apple-touch-icon.png")" />
        <link rel="apple-touch-icon" sizes="57x57" href="@Context.GetLink("/apple-touch-icon-57x57.png")" />
        <link rel="apple-touch-icon" sizes="72x72" href="@Context.GetLink("/apple-touch-icon-72x72.png")" />
        <link rel="apple-touch-icon" sizes="76x76" href="@Context.GetLink("/apple-touch-icon-76x76.png")" />
        <link rel="apple-touch-icon" sizes="114x114" href="@Context.GetLink("/apple-touch-icon-114x114.png")" />
        <link rel="apple-touch-icon" sizes="120x120" href="@Context.GetLink("/apple-touch-icon-120x120.png")" />
        <link rel="apple-touch-icon" sizes="144x144" href="@Context.GetLink("/apple-touch-icon-144x144.png")" />
        <link rel="apple-touch-icon" sizes="152x152" href="@Context.GetLink("/apple-touch-icon-152x152.png")" />
        <link rel="apple-touch-icon" sizes="180x180" href="@Context.GetLink("/apple-touch-icon-180x180.png")" />
        @* CSS and JS *@
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" data-no-mirror>
        <link rel="stylesheet" href="@Context.GetLink("/assets/css/docsearch.min.css")" />
        <link rel="stylesheet" href="@Context.GetLink("/assets/css/chocolatey.bundle.min.css")" />
        <script type="text/javascript" src="@Context.GetLink("/assets/js/chocolatey-head.bundle.min.js")"></script>
        <script type="text/javascript" async referrerpolicy="unsafe-url" src="https://ws.zoominfo.com/pixel/KPKpTJOFOv5SuV7X3eGx"></script>
        <title>@title</title>
    </head>
    <body class="chocolatey-docs">
        <header>
            @Html.Partial("global-partials/_TopAlertBanner")
            <div class="d-none d-sm-flex">
                <div class="global-nav w-100">
                    <div class="container-fluid pe-0 pe-md-c75">
                        @Html.Partial("~/global-partials/_globalnavigation.cshtml")
                    </div>
                </div>
            </div>
            <nav id="topNav" class="navbar navbar-expand-md">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img class="d-md-none" src='@Context.GetLink("/assets/images/global-shared/logo.svg")' alt="Chocolatey" />
                        <img class="d-none d-md-block navbar-brand-desktop" src='@Context.GetLink("/assets/images/global-shared/logo-square.svg")' alt="Chocolatey" />
                    </a>
                    <div class="d-flex align-items-center justify-content-end">
                        <label class="mb-0 me-2 d-md-none" for="themeToggle">
                            @Html.Partial("~/global-partials/_ThemeToggle.cshtml")
                        </label>
                        <a class="me-2 md-md-0 ms-md-3" href="https://github.com/chocolatey/docs" target="_blank" rel="noreferrer" aria-label="Edit on GitHub">
                            <i class="fa-brands fa-github text-theme-contrast fa-2x" aria-hidden="true"></i>
                        </a>
                        <div id="docsearchResults" class="me-2 ms-md-0 top-50 start-50"></div>
                        <button type="button" class="navbar-toggler btn btn-top-nav" data-bs-toggle="collapse" data-bs-target="#leftSidebar" aria-expanded="false" aria-controls="leftSidebar" aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
        @if (Document.GetBool(Constants.NoSidebar))
        {
            @RenderBody()
        }
        else
        {
            <main>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-xl-2 p-0 text-bg-theme-elevation-1 border-end">
                            <div id="leftSidebarNav" class="sticky-md-top collapse-y-height">
                                @{
                                    string homePage = "Chocolatey - Software Management for Windows";
                                    string highlightsPage = "Highlights";

                                    IDocument root = OutputPages["en-us/index.html"].First();

                                    IDocument[] featuredHighlight = Outputs
                                        .FromPipeline("Content")
                                        .FilterSources("en-us/highlights/highlight.md")
                                        .Where(x => x.GetBool("ShowInHighlight", true))
                                        .ToArray();
                                }
                                <nav class="navbar navbar-expand-md p-0">
                                    <div id="leftSidebar" class="collapse navbar-collapse">
                                        <div class="d-sm-none">
                                            <div class="global-nav">
                                                @Html.Partial("global-partials/_globalnavigation")
                                            </div>
                                        </div>
                                        <ul class="navbar-nav">
                                            @if (featuredHighlight.Any())
                                            {
                                                <li class="bg-gradient-primary-light-elevation-1 p-3">
                                                    <div class="card card-body card-link">
                                                        <p class="h3">@featuredHighlight.First().GetString("Title")</p>
                                                        @Html.Raw(featuredHighlight.First().GetContentStringAsync().Result)
                                                        <a href='@Context.GetLink(featuredHighlight.First().GetString("Link"))' class="d-block mt-n2 stretched-link link-primary">@featuredHighlight.First().GetString("LinkText")<i class="fas fa-arrow-right ms-1"></i></a>
                                                    </div>
                                                </li>
                                            }
                                            <li class="nav-item nav-item-blue">
                                                @if(root.ShowLink())
                                                {
                                                    <a class="nav-link ps-c2 @(Document.IdEquals(root) ? "active active-page" : null)" href="@root.GetLink()">@root.GetTitle()</a>
                                                }
                                                else
                                                {
                                                    @root.GetTitle()
                                                }
                                            </li>
                                            @foreach (IDocument document in OutputPages.GetChildrenOf(root).OnlyVisible())
                                            {
                                                DocumentList<IDocument> documentChildren = OutputPages.GetChildrenOf(document);
                                                @if(documentChildren.Any()) {
                                                    <li class="nav-item nav-item-blue @(Document.IdEquals(document) || OutputPages.GetDescendantsOf(document).Any(x => Document.IdEquals(x)) ? "active" : null)">
                                                        <div class="nav-link nav-link-collapse d-flex @(Document.IdEquals(document) || OutputPages.GetDescendantsOf(document).Any(x => Document.IdEquals(x)) ? "active" : null) @(Document.IdEquals(document) ? "active-page" : null)">
                                                            <button class="btn btn-collapse rounded-0 border-0 ps-3 @(Document.IdEquals(document) || OutputPages.GetDescendantsOf(document).Any(x => Document.IdEquals(x)) ? null : "collapsed")" type="button" data-bs-toggle="collapse" aria-expanded="@(Document.IdEquals(document) || OutputPages.GetDescendantsOf(document).Any(x => Document.IdEquals(x)) ? "true" : "false")" aria-controls="id-@document.Id" aria-label="collapse or expand navigation" href="#id-@document.Id"></button>
                                                            <a href="@document.GetLink()">@document.GetTitle()</a>
                                                        </div>
                                                        <div class="collapse @(Document.IdEquals(document) || OutputPages.GetDescendantsOf(document).Any(x => Document.IdEquals(x)) ? "show" : null)" id="id-@document.Id">
                                                            <ul class="navbar-nav">
                                                                @foreach (IDocument child in documentChildren.OnlyVisible())
                                                                {
                                                                    @if(OutputPages.GetChildrenOf(child).Any())
                                                                    {
                                                                        <li class="nav-item">
                                                                            <div class="nav-link nav-link-collapse d-flex @(Document.IdEquals(child) || OutputPages.GetDescendantsOf(child).Any(x => Document.IdEquals(x)) ? "active" : null) @(Document.IdEquals(child) ? "active-page" : null)">
                                                                                <button class="btn btn-collapse rounded-0 border-0 ps-c2 @(Document.IdEquals(child) || OutputPages.GetDescendantsOf(child).Any(x => Document.IdEquals(x)) ? null : "collapsed")" type="button" data-bs-toggle="collapse" aria-expanded="@(Document.IdEquals(child) || OutputPages.GetDescendantsOf(child).Any(x => Document.IdEquals(x)) ? "true" : "false")" aria-controls="id-@child.Id" aria-label="collapse or expand navigation" href="#id-@child.Id"></button>
                                                                                <a href="@child.GetLink()">@child.GetTitle()</a>
                                                                            </div>
                                                                            <div class="collapse @(Document.IdEquals(child) || OutputPages.GetDescendantsOf(child).Any(x => Document.IdEquals(x)) ? "show" : null)" id="id-@child.Id">
                                                                                <ul class="navbar-nav">
                                                                                    @foreach (IDocument grandChild in OutputPages.GetChildrenOf(child).OnlyVisible())
                                                                                    {
                                                                                        @if(OutputPages.GetChildrenOf(grandChild).Any())
                                                                                        {
                                                                                            <li class="nav-item">
                                                                                                <div class="nav-link nav-link-collapse d-flex @(Document.IdEquals(grandChild) || OutputPages.GetDescendantsOf(grandChild).Any(x => Document.IdEquals(x)) ? "active" : null) @(Document.IdEquals(grandChild) ? "active-page" : null)">
                                                                                                    <button class="btn btn-collapse rounded-0 border-0 ps-5 @(Document.IdEquals(grandChild) || OutputPages.GetDescendantsOf(grandChild).Any(x => Document.IdEquals(x)) ? null : "collapsed")" type="button" data-bs-toggle="collapse" aria-expanded="@(Document.IdEquals(grandChild) || OutputPages.GetDescendantsOf(grandChild).Any(x => Document.IdEquals(x)) ? "true" : "false")" aria-controls="id-@grandChild.Id" aria-label="collapse or expand navigation" href="#id-@grandChild.Id"></button>
                                                                                                    <a href="@grandChild.GetLink()">@grandChild.GetTitle()</a>
                                                                                                </div>
                                                                                                <div class="collapse @(Document.IdEquals(grandChild) || OutputPages.GetDescendantsOf(grandChild).Any(x => Document.IdEquals(x)) ? "show" : null)" id="id-@grandChild.Id">
                                                                                                    <ul class="navbar-nav">
                                                                                                        @foreach (IDocument greatGrandChild in OutputPages.GetChildrenOf(grandChild).OnlyVisible())
                                                                                                        {
                                                                                                            @if(OutputPages.GetChildrenOf(greatGrandChild).Any())
                                                                                                            {
                                                                                                                <li class="nav-item">
                                                                                                                    <div class="nav-link nav-link-collapse d-flex @(Document.IdEquals(greatGrandChild) || OutputPages.GetDescendantsOf(greatGrandChild).Any(x => Document.IdEquals(x)) ? "active" : null) @(Document.IdEquals(greatGrandChild) ? "active-page" : null)">
                                                                                                                        <button class="btn btn-collapse rounded-0 border-0 ps-c4 @(Document.IdEquals(greatGrandChild) || OutputPages.GetDescendantsOf(greatGrandChild).Any(x => Document.IdEquals(x)) ? null : "collapsed")" type="button" data-bs-toggle="collapse" aria-expanded="@(Document.IdEquals(greatGrandChild) || OutputPages.GetDescendantsOf(greatGrandChild).Any(x => Document.IdEquals(x)) ? "true" : "false")" aria-controls="id-@greatGrandChild.Id" aria-label="collapse or expand navigation" href="#id-@greatGrandChild.Id"></button>
                                                                                                                        <a href="@greatGrandChild.GetLink()">@greatGrandChild.GetTitle()</a>
                                                                                                                    </div>
                                                                                                                    <div class="collapse @(Document.IdEquals(greatGrandChild) || OutputPages.GetDescendantsOf(greatGrandChild).Any(x => Document.IdEquals(x)) ? "show" : null)" id="id-@greatGrandChild.Id">
                                                                                                                        <ul class="navbar-nav">
                                                                                                                            @foreach (IDocument greatGreatGrandChild in OutputPages.GetChildrenOf(greatGrandChild).OnlyVisible())
                                                                                                                            {
                                                                                                                                @if(OutputPages.GetChildrenOf(greatGreatGrandChild).Any())
                                                                                                                                {
                                                                                                                                    <li class="nav-item">
                                                                                                                                        <div class="nav-link nav-link-collapse d-flex @(Document.IdEquals(greatGreatGrandChild) || OutputPages.GetDescendantsOf(greatGreatGrandChild).Any(x => Document.IdEquals(x)) ? "active" : null) @(Document.IdEquals(greatGreatGrandChild) ? "active-page" : null)">
                                                                                                                                            <button class="btn btn-collapse rounded-0 border-0 ps-c5 @(Document.IdEquals(greatGreatGrandChild) || OutputPages.GetDescendantsOf(greatGreatGrandChild).Any(x => Document.IdEquals(x)) ? null : "collapsed")" type="button" data-bs-toggle="collapse" aria-expanded="@(Document.IdEquals(greatGreatGrandChild) || OutputPages.GetDescendantsOf(greatGreatGrandChild).Any(x => Document.IdEquals(x)) ? "true" : "false")" aria-controls="id-@greatGreatGrandChild.Id" aria-label="collapse or expand navigation" href="#id-@greatGreatGrandChild.Id"></button>
                                                                                                                                            <a href="@greatGreatGrandChild.GetLink()">@greatGreatGrandChild.GetTitle()</a>
                                                                                                                                        </div>
                                                                                                                                        <div class="collapse @(Document.IdEquals(greatGreatGrandChild) || OutputPages.GetDescendantsOf(greatGreatGrandChild).Any(x => Document.IdEquals(x)) ? "show" : null)" id="id-@greatGreatGrandChild.Id">
                                                                                                                                            <ul class="navbar-nav">
                                                                                                                                                @foreach (IDocument greatGreatGreatGrandChild in OutputPages.GetChildrenOf(greatGreatGrandChild).OnlyVisible())
                                                                                                                                                {
                                                                                                                                                    <li class="nav-item">
                                                                                                                                                        <a class="nav-link ps-c7 @(Document.IdEquals(greatGreatGreatGrandChild) ? "active active-page" : null)" href="@greatGreatGreatGrandChild.GetLink()">@greatGreatGreatGrandChild.GetTitle()</a>
                                                                                                                                                    </li>
                                                                                                                                                }
                                                                                                                                            </ul>
                                                                                                                                        </div>
                                                                                                                                    </li>
                                                                                                                                }
                                                                                                                                else
                                                                                                                                {
                                                                                                                                    <li class="nav-item">
                                                                                                                                        <a class="nav-link ps-c6 @(Document.IdEquals(greatGreatGrandChild) ? "active active-page" : null)" href="@greatGreatGrandChild.GetLink()">@greatGreatGrandChild.GetTitle()</a>
                                                                                                                                    </li>
                                                                                                                                }
                                                                                                                            }
                                                                                                                        </ul>
                                                                                                                    </div>
                                                                                                                </li>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <li class="nav-item">
                                                                                                                    <a class="nav-link ps-c5 @(Document.IdEquals(greatGrandChild) ? "active active-page" : null)" href="@greatGrandChild.GetLink()">@greatGrandChild.GetTitle()</a>
                                                                                                                </li>
                                                                                                            }
                                                                                                        }
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </li>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <li class="nav-item">
                                                                                                <a class="nav-link ps-c4 @(Document.IdEquals(grandChild) ? "active active-page" : null)" href="@grandChild.GetLink()">@grandChild.GetTitle()</a>
                                                                                            </li>
                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li class="nav-item">
                                                                            <a class="nav-link ps-5 @(Document.IdEquals(child) ? "active active-page" : null)" href="@child.GetLink()">@child.GetTitle()</a>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item nav-item-blue">
                                                        <a class="nav-link ps-c2 @(Document.IdEquals(document) ? "active active-page" : null)" href="@document.GetLink()">@document.GetTitle()</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-9 col-xl-10 py-3 py-md-5 px-md-4 mx-auto">
                            <div class="container d-xl-none">
                                @Html.Partial("_Breadcrumbs")
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div id="mainContent" class="col-xl-10 order-2 order-xl-1">
                                        <div class="d-none d-xl-block">
                                            @Html.Partial("_Breadcrumbs")
                                        </div>
                                        @if (Document.GetTitle() == highlightsPage)
                                        {
                                            IDocument highlightRoot = OutputPages["en-us/highlights/index.html"].First();
                                            @foreach (IDocument document in OutputPages.GetChildrenOf(highlightRoot).Where(x => x.GetBool("IsActive", true) && !x.GetBool("ShowInHighlight", false)).OrderByDescending(x => x.GetDateTime("PostedDateTime")))
                                            {
                                                DocumentList<IDocument> documentHighlightChildren = OutputPages.GetChildrenOf(document);

                                                <h2>@document.GetDateTime("PostedDateTime").ToUniversalTime().ToString("MMMM yyyy")</h2>
                                                <div class="card card-body card-border-top p-md-5 postition-relative">
                                                    <ul class="fa-ul mb-0 ms-4">
                                                        @foreach (IDocument child in documentHighlightChildren.Where(x => x.GetBool("IsActive", true)).OrderByDescending(x => x.GetDateTime("PostedDateTime")))
                                                        {
                                                            <li class='@(child == documentHighlightChildren.First() ? "mt-3" : "mt-c2")'>
                                                                <span class="fa-li mt-2"><i class="fa-solid fa-play text-primary"></i></span>
                                                                <h3 class="d-anchor-none my-0">@child.GetString("Title")</h3>
                                                                <p class="text-secondary"><small><i>Posted on @child.GetDateTime("PostedDateTime").ToUniversalTime().ToString("dddd, %d MMMM yyyy")</i></small></p>
                                                                @Html.Raw(child.GetContentStringAsync().Result)
                                                                <a href='@Context.GetLink(child.GetString("Link"))' class="d-block mt-n2 p-0">@child.GetString("LinkText")<i class="fas fa-arrow-right ms-1"></i></a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        }
                                        @RenderBody()
                                        @if (!Document.GetBool("HideChildPages", false) && Document.GetTitle() != homePage)
                                        {
                                            @Html.Partial("_ChildPages")
                                        }
                                    </div>
                                    @{
                                        IReadOnlyList<IDocument> headings = Document.GetDocumentList(Statiq.Html.HtmlKeys.Headings);
                                        if (headings.Count > 1)
                                        {
                                            <div id="rightSidebarNav" class="col-xl-2 ps-xl-3 order-1 order-xl-2">
                                                <button class="btn btn-link btn-collapse fw-bold w-100 d-xl-none mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#rightSidebar" aria-expanded="false" aria-controls="rightSidebar">Jump to Section</button>
                                                <div id="rightSidebar" class="sticky-xl-top collapse collapse-lg">
                                                    <div class="card card-body py-0 px-xl-0 mb-3 border-0">
                                                        @if (Document.ContainsKey("EditLink"))
                                                        {
                                                            <p class="fw-bold pt-3"><a href="@Document.GetString("EditLink")"><i class="fa-solid fa-pencil" aria-hidden="true"></i> Edit This Page</a></p>
                                                            <hr class="m-0" />
                                                        }
                                                        <p class="fw-bold pt-3 mb-2">On This Page</p>
                                                        <ul class="nav nav-scrollspy flex-column pb-3">
                                                            @foreach (IDocument heading in headings)
                                                            {
                                                                var level = "";
                                                                switch(heading.GetString(Statiq.Html.HtmlKeys.Level))
                                                                {
                                                                    case "1":
                                                                        level = "d-none";
                                                                        break;
                                                                    case "3":
                                                                        level = "ps-4";
                                                                        break;
                                                                    case "4":
                                                                        level = "ps-5";
                                                                        break;
                                                                    case "5":
                                                                        level = "ps-c4-5";
                                                                        break;
                                                                    default:
                                                                        level = level;
                                                                        break;
                                                                }
                                                                <li class="nav-item"><a class="nav-link @level" href="#@(heading.GetString(Statiq.Html.HtmlKeys.HeadingId))">@(await heading.GetContentStringAsync())</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        }
        <footer class="flex-shrink-0">
            <div class="text-bg-theme-elevation-1 border-top text-center p-3">
                <span class="small">© @DateTime.Today.Year Chocolatey Software, Inc.</span><br />
                <span class="small">Deployed from <a href="https://github.com/chocolatey/docs/commit/@VersionUtilities.GetSha()">@VersionUtilities.GetCommit()</a></span><br />
                <span class="small"><a href="https://statiq.dev/">Generated by Statiq</a></span>
            </div>
            <div id="cookieNoticeAlert" class="alert alert-primary alert-dismissible alert-dismissible-center alert-btn-center fade show d-none" role="alert">
                <p class="mb-0"><strong>docs.chocolatey.org uses cookies to enhance the user experience of the site.</strong></p>
                <button type="button" class="btn btn-theme-background btn-sm d-none d-md-inline-block" data-bs-dismiss="alert" aria-label="Close">I accept</button>
                <button type="button" class="btn btn-theme-background d-md-none" data-bs-dismiss="alert" aria-label="Close">I accept</button>
            </div>
        </footer>

        <script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find,Number.parseFloat%2CNumber.parse%2CNodeList.prototype.forEach%2CNumber.parseInt"></script>
        <script type="text/javascript" src="@Context.GetLink("/assets/js/chocolatey.bundle.min.js")"></script>
        <script type="text/javascript" src="@Context.GetLink("/assets/js/docsearch.min.js")"></script>
        <noscript><img src="https://ws.zoominfo.com/pixel/KPKpTJOFOv5SuV7X3eGx" width="1" height="1" style="display: none;" /></noscript>
    </body>
</html>