<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @{
            string title = @Document.ContainsKey(Keys.Title) ? $"Chocolatey - {Document.GetString(Keys.Title)}" : "Chocolatey";
        }
        <meta property="og:title" content="@title" />
        <meta property="product:brand" content="Chocolatey" />
        <meta property="og:description" content="Chocolatey is software management automation for Windows that wraps installers, executables, zips, and scripts into compiled packages. Chocolatey integrates w/SCCM, Puppet, Chef, etc. Chocolatey is trusted by businesses to manage software deployments." />
        <meta name="description" content="Chocolatey is software management automation for Windows that wraps installers, executables, zips, and scripts into compiled packages. Chocolatey integrates w/SCCM, Puppet, Chef, etc. Chocolatey is trusted by businesses to manage software deployments." />
        <meta name="flattr:id" content="mqgjkp">
        <meta property="DC.title" content="@title" />
        <meta property="og:site_name" content="Chocolatey" />
        <meta property="og:type" content="product" />
        <meta property="product:category" content="software" />
        <meta property="og:image" content="https://chocolatey.org/content/images/icon_slogan.png" />
        <meta property="og:url" content="@Context.GetLink().TrimEnd('/')@Document.GetLink()" />
        <meta property="copyright" content="Chocolatey is Copyright 2020 - @DateTime.UtcNow.Year Chocolatey Software,Inc." />


        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" data-no-mirror>
        <link rel="stylesheet" href="@Context.GetLink("/assets/css/styles.css")" />
        <link rel="stylesheet" href="@Context.GetLink("/assets/css/all.min.css")" />
        <script>
            if(!/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                const theme = localStorage.getItem('theme'), html = document.getElementsByTagName("html")[0];
                if(theme){if(theme == 'dark') {html.setAttribute("data-user-color-scheme", "dark");}else{html.setAttribute("data-user-color-scheme", "light");}}
            }
        </script>
        
        <title>@title</title>
    </head>
    <body>
        <nav id="topNav" class="navbar">
            <a class="navbar-brand" href="@Context.GetLink("/")">
                <img class="d-md-none" src="@Context.GetLink("/assets/logo.svg")" alt="Chocolatey" />
                <img class="d-none d-md-block" src="@Context.GetLink("/assets/logo-square.svg")" alt="Chocolatey" />
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/chocolatey/docs" aria-label="Edit on GitHub"><i class="fab fa-2x fa-github" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <label class="mb-0" for="themeToggle">
                    <input id="themeToggle" class="toggle-checkbox" type="checkbox" aria-label="Toggle theme settings" />
                        <div class="toggle-slot">
                            <div class="sun-icon-wrapper">
                                <div class="sun-icon fas fa-sun"></div>
                            </div>
                            <div class="toggle-button"></div>
                            <div class="moon-icon-wrapper">
                                <div class="moon-icon fas fa-moon"></div>
                            </div>
                        </div>
                    </label>
                </li>
            </ul>
            @* TODO: Search- Uncomment search box below *@
            @*<form role="search" class="form-inline">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input type="search" class="form-control" placeholder="Search..."  aria-label="Search" />
            </form>*@
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div id="leftSidebarNav" class="col-md-3 col-xl-2 p-0">
                    <div class="loader-container"><div class="loader"></div></div>
                    @{
                        IDocument root = OutputPages["en-us/index.html"].First();
                    }
                    <nav class="navbar navbar-expand-md p-0">
                        <button class="navbar-toggler btn px-3 py-2" type="button" data-toggle="collapse" data-target="#leftSidebar" aria-expanded="false" aria-controls="leftSidebar" aria-label="Toggle navigation"><i class="fas fa-ellipsis-v text-primary"></i></button>
                        <div id="leftSidebar" class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    @if(root.ShowLink())
                                    {
                                        <a class="nav-link @(Document.IdEquals(root) ? "active active-page" : null)" href="@root.GetLink()">@root.GetTitle()</a>
                                    }
                                    else
                                    {
                                        @root.GetTitle()
                                    }
                                </li>
                                <li class="nav-item">
                                    @foreach (IDocument document in OutputPages.GetChildrenOf(root).OnlyVisible())
                                    {
                                        DocumentList<IDocument> documentChildren = OutputPages.GetChildrenOf(document);

                                        @if(documentChildren.Any()) {
                                            <a class="nav-link nav-link-collapse @(Document.IdEquals(document) ||  OutputPages.GetDescendantsOf(document).Any(x => Document.IdEquals(x)) ? "active" : null) @(Document.IdEquals(document) ? "active-page" : null)" role="button" aria-expanded="false" href="@document.GetLink()" data-href="#id-@document.Id">@document.GetTitle()</a>
                                            <div class="collapse" id="id-@document.Id">
                                                <ul class="navbar-nav">
                                                    @foreach (IDocument child in documentChildren.OnlyVisible())
                                                    {
                                                        <li class="nav-item">
                                                            @if(OutputPages.GetChildrenOf(child).Any()) {
                                                                <a class="nav-link nav-link-collapse @(Document.IdEquals(child) || OutputPages.GetDescendantsOf(child).Any(x => Document.IdEquals(x)) ? "active" : null) @(Document.IdEquals(child) ? "active-page" : null)" role="button" aria-expanded="false" data-href="#id-@child.Id" href="@child.GetLink()" data-href="#id-@child.Id">@child.GetTitle()</a>
                                                                <div class="collapse" id="id-@child.Id">
                                                                    <ul class="navbar-nav">
                                                                        @foreach (IDocument childChild in OutputPages.GetChildrenOf(child).OnlyVisible())
                                                                        {
                                                                            <li class="nav-item">
                                                                                <a class="nav-link @(Document.IdEquals(childChild) ? "active active-page" : null)" href="@childChild.GetLink()">@childChild.GetTitle()</a>
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <a class="nav-link @(Document.IdEquals(child) ? "active active-page" : null)" href="@child.GetLink()">@child.GetTitle()</a>
                                                            } 
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                        else
                                        {
                                            <a class="nav-link @(Document.IdEquals(document) ? "active active-page" : null)" href="@document.GetLink()">@document.GetTitle()</a>
                                        }
                                    }
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-9 col-xl-10 py-3 py-md-5 mx-auto">
                    <div class="ml-md-4 d-xl-none">
                        @Html.Partial("_breadcrumbs")
                    </div>
                    <div class="row">
                        <div id="mainContent" class="col-xl-10 pl-md-5 order-2 order-xl-1">
                             <div class="d-none d-xl-block">
                                @Html.Partial("_breadcrumbs")
                             </div>
                            @RenderBody()
                        </div>
                        @{
                            IReadOnlyList<IDocument> headings = Document.GetDocumentList(Statiq.Html.HtmlKeys.Headings);
                            if (headings.Count > 1)
                            {
                                <div id="rightSidebarNav" class="col-xl-2 pl-md-5 pl-xl-3 order-1 order-xl-2">
                                    <button class="btn btn-link btn-collapse font-weight-bold w-100 d-xl-none mb-2" type="button" data-toggle="collapse" data-target="#rightSidebar" aria-expanded="false" aria-controls="rightSidebar">Jump to Section</button>
                                    <div id="rightSidebar" class="sticky-top collapse">
                                        <div class="card card-body py-0 px-xl-0 mb-3">
                                            <p class="font-weight-bold pt-3">On This Page</p>
                                            <ul class="list-unstyled py-3">
                                                @foreach (IDocument heading in headings)
                                                {
                                                    <li class="level-@heading.GetString(Statiq.Html.HtmlKeys.Level)"><a href="#@(heading.GetString(Statiq.Html.HtmlKeys.HeadingId))">@(await heading.GetContentStringAsync())</a></li>
                                                }
                                            </ul>
                                            @if (Document.ContainsKey("EditLink"))
                                            {
                                                <p class="font-weight-bold"><a href="@Document.GetString("EditLink")"><i class="fas fa-pencil-alt" aria-hidden="true"></i> Edit This Page</a></p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="cookieNoticeAlert" class="alert alert-dismissible fade show mb-0 text-center d-none" role="alert">
            <p class="mb-0">docs.chocolatey.org uses cookies to enhance the user experience of the site.</p>
            <button type="button" class="btn btn-light btn-sm" data-dismiss="alert" aria-label="Close">I accept</button>
        </div>
        <footer class="p-3 small text-center">
            <span>© @DateTime.Today.Year Chocolatey Software, Inc.</span>
            <span>@VersionUtilities.GetVersion()</span>
        </footer>
        
        <script type="text/javascript" src="@Context.GetLink("/assets/js/jquery.min.js")"></script>
        <script type="text/javascript" src="@Context.GetLink("/assets/js/bootstrap.bundle.min.js")"></script>
        <script type="text/javascript" src="@Context.GetLink("/assets/js/prism.min.js")"></script>
        <script type="text/javascript" src="@Context.GetLink("/assets/js/anchor.min.js")"></script>
        <script type="text/javascript" src="@Context.GetLink("/assets/js/custom.js")"></script>
        <script>
            ((window.gitter = {}).chat = {}).options = {
                room: 'chocolatey/choco'
            };
        </script>
        <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    </body>
</html>