---
Order: 10
xref: home
Title: Chocolatey - Software Management for Windows
Description: Chocolatey is software management automation for Windows that wraps installers, executables, zips, and scripts into compiled packages. Chocolatey integrates w/SCCM, Puppet, Chef, etc. Chocolatey is trusted by businesses to manage software deployments.
RedirectFrom:
  - docs/home
  - docs/
  - index.html
  - docs/index.html
---
@{
    string homePage = "Chocolatey - Software Management for Windows";

    IDocument[] highlights = Outputs
        .FromPipeline("Content")
        .FilterSources("en-us/highlights/**/*.md")
        .Where(x => x.GetBool("ShowOnHome", true) && x.GetBool("IsActive", true))
        .OrderByDescending(x => x.GetDateTime("PostedDateTime"))
        .ToArray();
}

<div class="row">
    <div class="mb-4 col-lg-6 col-xl-8">
        <div class="card card-link card-body bg-retrowave1 h-100 lead p-md-5 d-flex justify-content-center">
            <p class="z-index-1">Discover the power of Chocolatey with our comprehensive Getting Started guide, providing an overview of its requirements, terminology, functionality, and its ability to simplify software management on Windows.</p>
            <a class="z-index-1 stretched-link link-primary p-0" href='@Context.GetLink("/en-us/getting-started")'>Get Started with Chocolatey<i class="fas fa-arrow-right ms-1"></i></a>
        </div>
    </div>
    <div class="mb-4 col-lg-6 col-xl-4">
        <div class="card card-link card-body bg-primary-opacity-25 h-100 lead p-md-5 d-flex justify-content-center">
            <p>Ready to unlock the convenience of Chocolatey? Visit our installation guide to learn how to effortlessly set up Chocolatey CLI in seconds.</p>
            <div><a class="btn btn-dark text-white stretched-link" href='@Context.GetLink("/en-us/choco/setup")'>Install Chocolatey CLI</a></div>
        </div>
    </div>
</div>
@if(highlights.Any() && Document.GetTitle() == homePage)
{
    <div class="card card-body card-border-top p-md-5 mb-4">
        <ul class="fa-ul mb-0 ms-4">
            @foreach (IDocument highlight in highlights)
            {
                <li class='@(highlight == highlights.First() ? "mt-3" : "mt-c2")'>
                    <span class="fa-li mt-2"><i class="fa-solid fa-play text-primary"></i></span>
                    <h2 class="d-anchor-none my-0">@highlight.GetString("Title")</h2>
                    <p class="text-secondary mb-2"><small><i>Posted on @highlight.GetDateTime("PostedDateTime").ToUniversalTime().ToString("dddd, %d MMMM yyyy")</i></small></p>
                    @Html.Raw(highlight.GetContentStringAsync().Result)
                    <a href='@Context.GetLink(highlight.GetString("Link"))' class="d-block mt-n2 p-0">@highlight.GetString("LinkText")<i class="fas fa-arrow-right ms-1"></i></a>
                </li>
            }
        </ul>
    </div>
}
<div class="row mb-md-5">
    <div class="mb-4 mb-lg-0 col-sm-6 col-lg-4">
        <div class="card card-link card-overlay-bottom card-overlay-theme-bottom h-100 min-h-200-px" style="background-image:url(https://img.chocolatey.org/backgrounds/chocolatey-cli-commands.svg);">
            <div class="card-body d-flex flex-column z-index-1">
                <div class="mt-auto">
                    <a href='@Context.GetLink("/en-us/choco/commands/")' class="h4 mb-0 stretched-link">Chocolatey CLI Commands</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4 mb-lg-0 col-sm-6 col-lg-4">
        <div class="card card-body h-100">
            <img class="rounded-4 border mb-3" src='@Context.GetLink("https://img.chocolatey.org/backgrounds/chocolatey-for-business.svg")' alt="Chocolatey for Business" loading="lazy">
            <p class="mb-0">
                Learn how to <a href='@Context.GetLink("/en-us/licensed-extension/setup")'>setup and intall</a> 
                Chocolatey Licenced Edition or get up and running fast with the <a href='@Context.GetLink("/en-us/c4b-environments/quick-start-environment/chocolatey-for-business-quick-start-guide")'>Chocolatey for Business Quick Start Guide.</a>
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-link card-overlay-bottom card-overlay-theme-bottom h-100 min-h-200-px" style="background-image:url(/assets/images/chocolatey-gui/feature_default_tile_view_remote_enabled.png);">
            <div class="card-body d-flex flex-column z-index-1">
                <div class="mt-auto">
                    <a href='@Context.GetLink("/en-us/chocolatey-gui/")' class="h4 mb-0 stretched-link">Chocolatey GUI</a>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="mt-4 pt-md-5 d-anchor-none">Helpful Links</h2>
<div class="row pb-md-5">
    <div class="col-md-4">
        <ul class="mb-0">
            <li class="mb-2"><a href='@Context.GetLink("/en-us/why")'>Why Chocolatey?</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/features/")'>Features</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/faqs")'>FAQs</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/troubleshooting")'>Troubleshooting</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/configuration")'>Configuration</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="mb-0">
            <li class="mb-2"><a href='@Context.GetLink("/en-us/community-repository/")'>Chocolatey Community Repository</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/choco/setup")'>Chocolatey CLI (choco)</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/licensed-extension/setup")'>Chocolatey Licenced Extension</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/chocolatey-gui-licensed-extension/setup/installation")'>Chocolatey GUI Licenced Extension</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/agent/setup")'>Chocolatey Agent</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="mb-0">
            <li class="mb-2"><a href='@Context.GetLink("/en-us/central-management/")'>Chocolatey Central Management</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/c4b-environments/")'>Chocolatey for Business Environments</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/create/create-packages-quick-start")'>Creating Packages</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/guides/")'>Guides</a></li>
            <li class="mb-2"><a href='@Context.GetLink("/en-us/licensed-extension/intune/")'>Microsoft Intune</a></li>
        </ul>
    </div>
</div>
<div class="row mt-4 mt-md-5">
    <div class="mb-4 mb-lg-0 col-sm-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary-opacity-25 d-flex justify-content-center align-items-center min-h-90-px">
                <h3 class="mb-0 d-anchor-none">Get Help</h3>
            </div>
            <div class="card-body d-flex align-items-center">
                <p class="mb-0">
                    Learn about how to qualify for <a href="https://chocolatey.org/support">support </a>or <a href="https://ch0.co/community" target="_blank" rel="noreferrer">join our Discord</a> and <a href="https://www.reddit.com/r/chocolatey/" target="_blank" rel="noreferrer">official Reddit </a>to chat with the Community.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-4 mb-lg-0 col-sm-6 col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary-opacity-25 d-flex justify-content-center align-items-center text-center min-h-90-px">
                <h3 class="mb-0 d-anchor-none">Join The Community</h3>
            </div>
            <div class="card-body d-flex align-items-center">
                @Html.Partial("global-partials/_socialmedia")
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-header bg-primary-opacity-25 d-flex justify-content-center align-items-center text-center min-h-90-px">
                <h3 class="mb-0 d-anchor-none">Receive Notifications</h3>
            </div>
            <div class="card-body d-flex align-items-center">
                <ul class="mb-0">
                    <li class="mb-2">
                        <a href="https://chocolatey.us8.list-manage1.com/subscribe?u=86a6d80146a0da7f2223712e4&id=73b018498d" target="_blank" rel="noreferrer">Newsletter</a> and 
                        <a href="https://groups.google.com/group/chocolatey" target="_blank" rel="noreferrer">Mailing List</a>
                    </li>
                    <li class="mb-2"><a href="https://groups.google.com/group/chocolatey-announce" target="_blank" rel="noreferrer">Release Announcements Only Mailing List</a></li>
                    <li><a href="https://groups.google.com/group/chocolatey-build-status" target="_blank" rel="noreferrer">Build Status Mailing List</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>