---
// Scripts and types
import { getCollection, render } from 'astro:content';
import { generateContentToc } from '@scripts/generate-content-toc.ts';
import { generateContentTree } from '@scripts/generate-content-tree.ts';

// Components
import Breadcrumbs from '@components/Breadcrumbs.astro';
import Children from '@components/Children.astro';
import LayoutDocs from '@layouts/LayoutDocs.astro';
import TableOfContents from '@components/toc/TableOfContents.astro';

export const getStaticPaths = async () => {
    const posts = await getCollection('docs', ({ data }) => {
        return data.highlight === undefined;
    });

    return posts.map(post => {
        const parts = post.id?.split('/') ?? [];
        const [lang, ...slugParts] = parts;

        const slug = slugParts.join('/');

        return {
            params: {
                id: slug,
                lang: lang,
            },
            props: { post }
        }
    });
};

const { post } = Astro.props;
const isHome = post.data.xref === 'home';
const { Content, headings } = await render(post);
const contentToc = await generateContentToc(headings);
const contentTree = await generateContentTree();
---

<LayoutDocs title={post.data.title} description={post.data.description} ogImage={post.data.ogImage} twitterImage={post.data.twitterImage} contentTree={contentTree}>
    <div class="row">
        <div id="mainContent" class="anchorjs-container col-xl-10 order-2 order-xl-1">
            <div class="d-none d-xl-block">
                <h1 class="title">{post.data.title}</h1>
                <Breadcrumbs isHome={isHome} />
            </div>
            <Content />
            <Children content={contentTree} />
        </div>
        <TableOfContents content={contentToc} />
    </div>
</LayoutDocs>
